<?xml version="1.0"?>
<launch>
    <arg name="pose_topic" default="/move_base_simple/goal" />
    <arg name="marker_type" default="sphere" /> <!-- line OR sphere -->

    <node pkg="rviz_marker_visualizer" type="visualizer_node.py" name="visualizer_node" output="screen">
        <remap from="pose_topic" to="$(arg pose_topic)" />
        <param name="marker_type" value="$(arg marker_type)" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rviz_marker_visualizer)/rviz/rviz_config.rviz" />
</launch>
